{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="links">
                <a href="{% url 'index' %}">Главная</a>
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'singin' %}">Регистрация</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="content">
            {% block content%}
            {% endblock %}
        </div>
    </div>
</body>
</html>