{%extends 'main/layout/basic.html' %}
{% block content%}
    <form action="{% url 'singin' %}" method="post" class="form">
        {% csrf_token %}
        <input type="text" name="full_name" placeholder="ФИО" required>
        <input type="text" name="username" placeholder="Логин" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="password_confirmation" placeholder="Подтвердите пароль" required>
        <button class="btn-form">Зарегистрироваться</button>
    </form>
{% endblock %}